<footer class="footer-sm">
    <div class="logo-sect">
        <img src="assets/designo-logo.webp">

        <hr>
    </div>

    

    <div class="other-sect">

        <div class="links">
            <p>OUR COMPANY</p>
            <p>LOCATIONS</p>
            <p>CONTACT</p>
        </div>
    
        <div class="address">
            <p>Designs Central Office</p>
            <p>3886 Wellignton Street</p>
            <p>Toronto Ontario M9C 3JC</p>
        </div>
    
        <div class="contact-us">
            <p>Contact Us Central Office</p>
            <p> P : +1 253-863-8967</p>
            <p>M : contactdesigno.co</p>
        </div>
    
        <div class="socials">
            @for(icon of socialIcons; track icon){
                <img [src]="icon">
            }
        </div>
        
    
    
    </div>
    
</footer>


<footer class="footer-desktop">
    <div class="first-section">
        <div class="logo-sect">
            <img src="assets/designo-logo.webp">
    
          
        </div>
    
        <div class="links">
            <p class="style" [routerLink]="['/company']">OUR COMPANY</p>
            <p class="style" [routerLink]="['/locations']">LOCATIONS</p>
            <p class="style" [routerLink]="['/contact']">CONTACT</p>
        </div>
    </div>

    <hr>
   
    <div class="other-sect">

    
        <div class="address">
            <p class="bg-txt">Designs Central Office</p>
            <p>3886 Wellignton Street</p>
            <p>Toronto Ontario M9C 3JC</p>
        </div>
    
        <div class="contact-us">
            <p class="bg-txt">Contact Us Central Office</p>
            <p> P : +1 253-863-8967</p>
            <p>M : contactdesigno.co</p>
        </div>
    
        <div class="socials">
            @for(icon of socialIcons; track icon){
                <img [src]="icon">
            }
        </div>
        
    
    
    </div>
    
</footer>
