<div>
    <app-header></app-header>


    <main>

        <div class="location">
            <iframe title="Map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.199559029831!2d-79.39711968864431!3d43.64401627098201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d9a0737d9f%3A0xbc1ae74f23fabf4e!2sWellington%20St%20W%2C%20Toronto%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sin!4v1688890811285!5m2!1sen!2sin" width="350" height="320" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       
        
        <div class="location-inner-container">
            <h2>Canada</h2>
            <br>
            <div class="description-container">
                <div>
                    <strong>Designs <span class="capitalize">central</span> Office</strong>
                    <address>3886 Wellington Street<br>Toronto, Ontario M9C 3J5</address>
                </div>
                
                <div>
                    <strong>Contact</strong>
                    <br>
                    P : <a href="tel:+1 253-863-8967">+1 253-863-8967</a>
                    <br>
                    M : <a href="mailto:contact@designo.co">contact&#64;designo.co</a>
                </div>
            </div>
        </div>

        </div>

        <div class="location">
            <iframe title="Map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.7580772860792!2d149.78337434427615!3d-30.32939840995545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ba73450a680702d%3A0x44a309bd6607346e!2s19%20Balonne%20St%2C%20Narrabri%20NSW%202390%2C%20Australia!5e0!3m2!1sen!2sin!4v1688890920205!5m2!1sen!2sin" width="350" height="320" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


            <div class="location-inner-container">
                <h2>Australia</h2>
                <br>
                <div class="description-container">
                    <div>
                        <strong>Designs <span class="capitalize">au</span> Office</strong>
                        <address>19 Balonne Street<br>New South Wales 2443</address>
                    </div>
                    
                    <div>
                        <strong>Contact</strong>
                        <br>
                        P : <a href="tel:(02) 6720 9092">(02) 6720 9092</a>
                        <br>
                        M : <a href="mailto:contact@designo.au">contact&#64;designo.au</a>
                    </div>
                </div>
            </div>




        </div>

        

        <div class="location">
            <iframe title="Map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9884.217008829852!2d-3.8813623362996936!3d51.73204304265709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e5867a4c5658f%3A0xf837c949fc975d7b!2sRhyd-y-fro%2C%20Pontardawe%2C%20Swansea%2C%20UK!5e0!3m2!1sen!2sin!4v1688890980727!5m2!1sen!2sin"   height="300" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <div class="location-inner-container">
                <h2>United Kingdom</h2>
                <br>
                <div class="description-container">
                    <div>
                        <strong>Designs <span class="capitalize">uk</span> Office</strong>
                        <address>13 Colorado Way<br>Rhyd-y-fro SA8 9GA</address>
                    </div>
                    
                    <div>
                        <strong>Contact</strong>
                        <br>
                        P : <a href="tel:078 3115 1400">078 3115 1400</a>
                        <br>
                        M : <a href="mailto:contact@designo.uk">contact&#64;designo.uk</a>
                    </div>
                </div>
            </div>
        </div>

    </main>



    <app-get-in-touch></app-get-in-touch>
    <app-footer></app-footer>
</div>