<main class="normal-view">
    <h4>Let's talk about your project</h4>
    <p>Ready to take it to the next level? Contact us today and find out how our expertise can help your business grow</p>
    <button>Get in Touch</button>
</main>

<main class="desktop-view">
    <div class="container">
        <div>
            <h4>Let's talk about your project</h4>
            <p>Ready to take it to the next level? Contact us today and find out how our expertise can help your business grow</p>
        </div>
    
        <button>Get in Touch</button>
        
    </div>
    
</main>